body {
    background: pink
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

.height-100 {
    height: 100vh
}

.modal-header>.modal-title {
    font-size: 14px
}

.modal-body>.body-desc {
    font-size: 14px
}

.modal-footer>.footer-title {
    font-size: 12px
}

#loadFile {
    display: none
}

.modal-header>.modal-title,
.modal-body>.body-desc,
.modal-body>.photo-input,
.modal-footer>.footer-title {
    text-align: center
}